__pycache__
migrations/__pycache__
p1h
scraping
tagry
product1_top
product2/review_top
product2/review_all
product3/review_top
product3/review_all
product4/review_top
product4/review_all
product3
product4
r32_files
review_files
