__pycache__
migrations/__pycache__
p1h
scraping
tagry
product1_top
product2/review_top
product2/reviews_all
product3/reviews_top
product3/reviews_all
product4/reviews_top
product4/reviews_all
r32_files
review_files
